<h2 mat-dialog-title>Make Payment</h2>
<mat-dialog-content [formGroup]="paymentForm">
  <mat-form-field>
  <mat-select placeholder="Select User"
              formControlName="user" >
    <mat-option>--</mat-option>
    <mat-option *ngFor="let user of userList" [value]="user.id">
      {{ user.displayName }}
    </mat-option>
  </mat-select>
  </mat-form-field>
  <label class="col-md-2 offset-md-4 form-control-label" for="text-input"></label>
  <mat-form-field>
    <mat-select placeholder="Select ledger"
                formControlName="ledger">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let ledger of ledgerList" [value]="ledger.id">
        {{ ledger.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <label class="col-md-2 offset-md-4 form-control-label" for="text-input"></label>
  <mat-form-field>
    <input matInput
           placeholder="Narration"
           formControlName="narration">
  </mat-form-field>
  <label class="col-md-2 offset-md-4 form-control-label" for="text-input"></label>
  <mat-form-field>
    <input matInput
           placeholder="Amount"
           formControlName="amount">
    <mat-error *ngIf="{'is-invalid': f.amount.errors}">Amount is required</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" [disabled]="!paymentForm.valid" (click)="save()">Make Payment</button>
</mat-dialog-actions>
