<div class="animated fadeIn">
  <div class="row text-center">
    <!--<div class="row text-center">-->
    <!--suppress TypeScriptUnresolvedVariable -->
    <table mat-table [dataSource]="transaction.transactionDetails"  class="mat-elevation-z8">
      <!-- Username Column -->
      <ng-container matColumnDef="product">
        <mat-header-cell class="align-right" *matHeaderCellDef> Product </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element"> {{element.product.displayName}} </mat-cell>
      </ng-container>

      <!-- Invoice Column -->
      <ng-container matColumnDef="whole">
        <mat-header-cell class="align-right" *matHeaderCellDef> Whole </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element"> {{element.wholeQty}} </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="pieces">
        <mat-header-cell class="align-right" *matHeaderCellDef> pieces </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element"> {{element.piecesQty}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cost">
        <mat-header-cell class="align-right" *matHeaderCellDef> cost </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element"> {{element.itemCost | number : '1.2'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="adjustment">
        <mat-header-cell class="align-right" *matHeaderCellDef> adjustment </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element"> {{element.overrideCost}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reverse">
        <mat-header-cell *matHeaderCellDef class="align-right"> Reverse </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="reverseTransaction(element)">
            <mat-icon >delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>

    <div *ngIf="reverseCart.length>0">
      <table class="table">
        <thead>
        <tr>
          <th width="20%">Product name</th>
          <th width="20%">Whole</th>
          <th width="20%">Pieces</th>
          <th width="20%">ItemCost</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of reverseCart">
          <td><strong>{{ item.productName }}</strong></td>
          <td><strong>{{ item.whole }}</strong></td>
          <td><strong>{{ item.pieces }}</strong></td>
          <td><strong>{{ item.itemCost | number : '1.2'  }}</strong></td>
          <td nowrap>
            <button type="button" class="btn btn-danger btn-xs"
                    (click)="removeFromList(item.productName)">
              <span class="icon-ban"></span> Remove
            </button>
          </td>
        </tr>
        </tbody>
        <button type="button" class="btn btn-success btn-xs"
                (click)="reverseSelectedItems(reverseCart)">
          <span class="icon-magnifier-remove"></span> Reverse Transaction
        </button>

      </table>
    </div>

  </div>
</div>
