<div class="animated fadeIn" style="font-size:5px;">
  <div id="invoice" class="row">
    <div class="col-md-12">
      <div class="card" style="font-size:5px;">
        <div class="card-header">
          {{transactionType}} Receipt
        </div>
        <div class="card-body" style="font-size:7px;">
          <mat-card>
            <mat-card-content style="font-size:7px;">
              <p>
                Transaction Date : {{transactionDate | date : 'medium'}}
              </p>
              <p>
                Invoice/Receipt Number : {{invoiceNumber}}
              </p>
              <p>
                Customer Name: {{customerName}}
              </p>

              <p>
                Description: {{description}}
              </p>
              <div *ngIf="isTransactionOrder">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Product</th>
                    <th>Whole</th>
                    <th>Pieces</th>
                    <th>Item Cost</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of itemsSet">
                    <td>{{item.productName}}</td>
                    <td>{{item.whole}}</td>
                    <td>{{item.pieces}}</td>
                    <td>{{item.itemCost | number: '1.0-3'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>


              <strong>
                Total : {{totalCost | number: '1.0-3'}}
              </strong>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div><!--/.col-->

  </div><!--/.row-->
  <div class="col-md-12 mt-3">
    <button (click)="download()" class="btn btn-primary">Download Receipt</button>
  </div>
</div>
