<div class="animated fadeIn">

  <mat-dialog-content [formGroup]="transactionSearchForm" style="float: right">
    <mat-form-field>
      <input matInput
             placeholder="Search by Username"
             formControlName="userName"
             (keydown.enter) ="onSearch($event)" required>
    </mat-form-field>
  </mat-dialog-content>
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <table mat-table [dataSource]="transaction"  class="mat-elevation-z8"
           matSort matSortActive="username" matSortDisableClear matSortDirection="desc">

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="align-right"> Username </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element"> {{element.user.displayName}} </mat-cell>
      </ng-container>
      <!-- full name of user -->
      <ng-container matColumnDef="full name">
        <mat-header-cell *matHeaderCellDef class="align-right"> full name </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element"> {{element.user.fullName}} </mat-cell>
      </ng-container>
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef class="align-right"> date </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element"> {{element.createdDate | date:'medium'}} </mat-cell>
      </ng-container>

      <!-- Transaction Column -->
      <ng-container matColumnDef="transaction">
        <mat-header-cell *matHeaderCellDef class="align-right"> Transaction </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element"> {{element.transactionType}} </mat-cell>
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef class="align-right"> Total Cost </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element"> {{element.orderCost | number : '1.2' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef class="align-right"> View </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="viewTransaction(element)">
            <mat-icon class="mat-1">details</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reverse">
        <mat-header-cell *matHeaderCellDef class="align-right"> Reverse </mat-header-cell>
        <mat-cell class="align-right" *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="reverseTransaction(element)">
            <mat-icon >delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
    <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>

  <!--/.row-->
</div>
