<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content [formGroup]="userForm">

    <mat-form-field>
        <input matInput
                placeholder="Username"
               formControlName="name">
               <mat-error *ngIf="{'is-invalid': f.name.errors}">Username is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput
                placeholder="Email"
               formControlName="email">
               <mat-error *ngIf="{'is-invalid': f.email.errors}">Email is required</mat-error>
    </mat-form-field>


    <mat-form-field>
        <input matInput
                placeholder="Fullname"
               formControlName="fullname">
               <mat-error *ngIf="{'is-invalid': f.fullname.errors}">Fullname is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput
                placeholder="Phone number"
               formControlName="mobile">
               <mat-error *ngIf="{'is-invalid': f.mobile.errors}">phone is required</mat-error>
    </mat-form-field>

     <mat-form-field>

            <mat-select placeholder="Select Role(s)"
                formControlName="roles" multiple>

                <mat-option value="Super Admin">
                  Super Admin</mat-option>
                <mat-option value="Shop9">
                  Shop 9</mat-option>
                <mat-option value="Zaria">
                  Zaria</mat-option>
                <mat-option value="Account">
                  Account</mat-option>
              <mat-option value="Warehouse">
                  Warehouse</mat-option>
            </mat-select>

    </mat-form-field>



    <!-- <mat-form-field>
            <mat-select placeholder="Select Location Name"  (selectionChange)="educationLevelChangeAction($event)"
             formControlName="location" >
             <mat-option>--</mat-option>
              <mat-option *ngFor="let location of locationList" [value]="location">
                  {{ location.displayName }}
              </mat-option>
            </mat-select>

    </mat-form-field> -->

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" [disabled]="!userForm.valid" (click)="save()">Save</button>
    <div style="display:flex; justify-content:flex-end; width:450%; padding:10;">
        <button class="mat-raised-button mat-primary" [disabled]="!userForm.valid" (click)="operation($event)">{{action}}</button>
    </div>
</mat-dialog-actions>
