<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content [formGroup]="productForm">

  <mat-form-field>
    <mat-select placeholder="Select product category"
                formControlName="category" >
      <mat-option>--</mat-option>
      <mat-option *ngFor="let category of categoryList" [value]="category.displayName">
        {{ category.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select product location"
                formControlName="location">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let location of locationList" [value]="location.displayName">
        {{ location.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Product name"
           formControlName="name">
    <mat-error *ngIf="{'is-invalid': f.name.errors}">Product name is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <textarea matInput placeholder="description" formControlName="description"></textarea>
    <mat-error *ngIf="{'is-invalid': f.description.errors}">Description is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Carton Size"
           formControlName="size"
           pattern="[0-9]*">
    <mat-error *ngIf="{'is-invalid': f.size.errors}">Size is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Whole Quantities"
           formControlName="whole"
           pattern="[0-9]*">
    <mat-error *ngIf="{'is-invalid': f.whole.errors}">Whole quantity is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Pieces Quantities"
           formControlName="pieces">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Product Cost"
           formControlName="cost"
           pattern="^\d*\.?\d*$">
    <mat-error *ngIf="{'is-invalid': f.cost.errors}">Product cost is required</mat-error>
  </mat-form-field>
  <br>

  <ng-container>

    <tbody>
    <tr>
      <td *ngFor="let list of images">
        <img [src]="list.displayName" width="200" height="100" alt="image">
    </tr>
    </tbody>

    <label>{{uploadMessage}} Product picture(s)</label>
    <br>
    <input type="file" ng2FileSelect accept=".jpg,.png" [uploader]="uploader" multiple/>

    <div class="col-md-9" style="margin-bottom: 40px">
      <p>Queue length: {{ uploader?.queue?.length }}</p>

      <table class="table">
        <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size / 10 / 10 | number:'.2' }} MB</td>
          <td *ngIf="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>

          <td nowrap>
            <button type="button" class="btn btn-danger btn-xs"
                    (click)="item.remove()">
              <span class="icon-ban"></span> Remove
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>


</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" [disabled]="!productForm.valid" (click)="save()">Save</button>
 <!-- <div style="display:flex; justify-content:flex-end; width:450%; padding:10;">
    <button class="mat-raised-button mat-primary" [disabled]="!productForm.valid"
            (click)="operation($event)">{{action}}</button>
  </div>-->
</mat-dialog-actions>
