.table-outline {
  border: 1px solid $table-border-color;

  td {
    vertical-align: middle;
  }
}

.table-align-middle {

  td {
    vertical-align: middle;
  }
}

.table-clear {
  td {
    border: 0;
  }
}
.mat-table {
  overflow-x: scroll;
  width: 100%;
  }

.mat-form-field {
  display: block;
}

.mat-cell {
  overflow: scroll;
  word-wrap: break-spaces;
  display: flex;
  padding-right: 60px;
}


