<div class="animated fadeIn">
  <button class="btn btn-sm btn-primary" (click) ="makePaymentDialog()"  ><i class="fa fa-dot-circle-o"></i> Make Payment</button>
  <div class="row text-center">

    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <table mat-table [dataSource]="payment"  class="mat-elevation-z8"
           matSort matSortActive="date" matSortDisableClear matSortDirection="desc">

      <!-- fullName Column -->
      <ng-container matColumnDef="fullname">
        <mat-header-cell *matHeaderCellDef> Fullname </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.customerName}} </mat-cell>
      </ng-container>

      <!-- mobileNumber Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalCost}} </mat-cell>
      </ng-container>

      <!-- role Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Trans Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.transactionDate | date}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
    <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
  </div>
  <!--/.row-->
</div>
