<section fxLayout="column" fxLayoutAlign="center center">
    <h1 mat-dialog-title>Error message</h1>
    <mat-dialog-content>
      <p>{{error}}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button class="mat-failure" (click)="closeDialog()">OK</button>
    </mat-dialog-actions>
  </section>