<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content [formGroup]="categoryForm">

  <mat-form-field>
    <input matInput
           placeholder="Category Name"
           formControlName="name">
    <mat-error *ngIf="{'is-invalid': f.name.errors}">Category is required</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" [disabled]="!categoryForm.valid" (click)="save()">Save</button>
</mat-dialog-actions>
