<div class="animated fadeIn">

  <mat-dialog-content [formGroup]="orderPaymentSearchForm" style="float: right">
    <mat-form-field>
      <input matInput
             placeholder="Search by Username"
             formControlName="userName"
             (keydown.enter) ="onSearch($event)" required>
    </mat-form-field>
  </mat-dialog-content>

  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <table mat-table [dataSource]="orderPaymentView"  class="mat-elevation-z8">

    <ng-container matColumnDef="full name">
      <mat-header-cell *matHeaderCellDef class="align-right"> Full name </mat-header-cell>
      <mat-cell class="align-right" *matCellDef="let element"> {{element.fullName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef class="align-right"> mobile </mat-header-cell>
      <mat-cell class="align-right" *matCellDef="let element"> {{element.mobileNumber}} </mat-cell>
    </ng-container>
    <!-- Date Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef class="align-right"> amount </mat-header-cell>
      <mat-cell class="align-right" *matCellDef="let element"> {{element.orderCost}} </mat-cell>
    </ng-container>

    <!-- Transaction Column -->
    <ng-container matColumnDef="transaction">
      <mat-header-cell *matHeaderCellDef class="align-right"> Transaction </mat-header-cell>
      <mat-cell class="align-right" *matCellDef="let element"> {{element.transactionType}} </mat-cell>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="invoice">
      <mat-header-cell *matHeaderCellDef class="align-right"> Invoice </mat-header-cell>
      <mat-cell class="align-right" *matCellDef="let element"> {{element.invoiceNumber}} </mat-cell>
    </ng-container>

   <!-- <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef class="align-right"> Description </mat-header-cell>
      <mat-cell class="align-right" *matCellDef="let element"> {{element.description === undefined ? element.transactionType + ' transaction' : element.description}} </mat-cell>
    </ng-container>-->

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef class="align-right"> Date </mat-header-cell>
      <mat-cell class="align-right" *matCellDef="let element"> {{element.createdDate | date :'medium'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef class="align-right"> View </mat-header-cell>
      <mat-cell class="align-right" *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="viewTransaction(element)">
          <mat-icon class="mat-1">details</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
  <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
  <p style="margin-left: 50px; color: #00b3ee"> Sub-total {{subTotal}}
  <p style="margin-left: 50px; color: #00b3ee"> Grand-total {{grandTotal}}
  <!--/.row-->

</div>

