<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content [formGroup]="locationForm">
  
    <mat-form-field>
        <input matInput
                placeholder="Location Name"
               formControlName="name">
               <mat-error *ngIf="{'is-invalid': f.name.errors}">Location is required</mat-error>
    </mat-form-field>

    <!-- <mat-form-field>
            <input matInput
                    placeholder="Location State"
                   formControlName="state">                
        </mat-form-field>

        <mat-form-field>
                <input matInput
                        placeholder="Location postal"
                       formControlName="postal">                    
        </mat-form-field> -->
      
    <mat-form-field>
        <input matInput
                placeholder="Address"
               formControlName="address">
               <mat-error *ngIf="{'is-invalid': f.address.errors}">Address is required</mat-error>
    </mat-form-field>


    <!-- <mat-form-field>
            <mat-select placeholder="Select Location Name"  (selectionChange)="educationLevelChangeAction($event)" 
             formControlName="location" >
             <mat-option>--</mat-option>
              <mat-option *ngFor="let location of locationList" [value]="location">
                  {{ location.displayName }}
              </mat-option>
            </mat-select>
            
    </mat-form-field> -->


    <!-- <mat-form-field>

            <mat-select placeholder="Select category"
                formControlName="category">
    
                <mat-option value="BEGINNER">
                    Beginner</mat-option>
                <mat-option value="INTERMEDIATE">
                    Intermediate</mat-option>
                <mat-option value="ADVANCED">
                    Advanced</mat-option>
    
            </mat-select>
    
    </mat-form-field> -->
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" [disabled]="!locationForm.valid" (click)="save()">Save</button>
</mat-dialog-actions>
