<div class="animated fadeIn">
  <button mat-button (click)="createCategoryDialog()"  color="primary"> Create</button>
  <div class="card" id="new">
    <div class="card-body">
      <div class="row text-center">
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <mat-table [dataSource]="data" class="mat-elevation-z8"
                   matSort matSortActive="category" matSortDisableClear matSortDirection="desc">
          <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Category </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="update">
            <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="updateCategory(element)">
                <mat-icon class="mat-10">edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>
