<div class="animated fadeIn">
  <button mat-button (click)="createLocationDialog()"  color="primary"> Create</button>
  <div class="card" id="new">      
    <div class="card-body">
      <div class="row text-center">
          <div class="example-loading-shade"
          *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>            
          </div>
        <table mat-table [dataSource]="data" class="mat-elevation-z8"
            matSort matSortActive="location" matSortDisableClear matSortDirection="desc">


          <!-- Position Column -->
          <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Location </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="update">
              <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="updateLocation(element)">
                    <mat-icon class="mat-10">edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </table>
        <mat-paginator [length]="resultsLength" [pageSize]="3"></mat-paginator>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>
