<div class="animated fadeIn">
  <button mat-button (click)="createProductDialog()"  color="primary">Create</button>
  <mat-dialog-content [formGroup]="productSearchForm" style="float: right">
    <mat-form-field>
      <input matInput
             placeholder="Search Product"
             formControlName="productName"
              (keydown.enter) ="onSearch($event)" required>
    </mat-form-field>
  </mat-dialog-content>

  <div class="table-responsive">
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <table mat-table [dataSource]="data" class="mat-elevation-z8"
                   matSort  matSortDisableClear matSortDirection="desc">

          <ng-container matColumnDef="product">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Product </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="cost">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Cost </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cartonCost}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="size">
            <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cartonSize}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="whole">
            <mat-header-cell *matHeaderCellDef> Whole </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.wholeQty}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="pieces">
            <mat-header-cell *matHeaderCellDef> Pieces </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.piecesQty}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="update">
            <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="updateProduct(element)">
                <mat-icon class="mat-10">edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </table>
        <mat-paginator [length]="resultsLength" [pageSize]="15"></mat-paginator>
      </div>
  <!--/.row-->
</div>
