<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Customer Receipt
        </div>
        <div class="card-body">
          <mat-card>Customer Details
            <mat-card-content>
              <p>
                Name
              </p>
              <p>
                Address
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Username</th>
          <th>Date registered</th>
          <th>Role</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Samppa Nori</td>
          <td>2012/01/01</td>
          <td>Member</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
        </tr>
        <tr>
          <td>Estavan Lykos</td>
          <td>2012/02/01</td>
          <td>Staff</td>
          <td>
            <span class="badge badge-danger">Banned</span>
          </td>
        </tr>
        <tr>
          <td>Chetan Mohamed</td>
          <td>2012/02/01</td>
          <td>Admin</td>
          <td>
            <span class="badge badge-default">Inactive</span>
          </td>
        </tr>
        <tr>
          <td>Derick Maximinus</td>
          <td>2012/03/01</td>
          <td>Member</td>
          <td>
            <span class="badge badge-warning">Pending</span>
          </td>
        </tr>
        <tr>
          <td>Friderik Dávid</td>
          <td>2012/01/21</td>
          <td>Staff</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
