<div class="animated fadeIn">
    <button class="btn btn-sm btn-primary" (click) ="createUserDialog()"  ><i class="fa fa-dot-circle-o"></i> Create</button>
        <div class="row text-center">
          <!--<div class="row text-center">-->
            <div class="example-loading-shade"
            *ngIf="isLoadingResults">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
          <table mat-table [dataSource]="user"  class="mat-elevation-z8"
              matSort matSortActive="username" matSortDisableClear matSortDirection="desc">

            <!-- Username Column -->
            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Username </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
            </ng-container>

            <!-- fullName Column -->
            <ng-container matColumnDef="fullname">
              <mat-header-cell *matHeaderCellDef> Fullname </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
            </ng-container>

               <!-- mobileNumber Column -->
               <ng-container matColumnDef="phone">
                 <mat-header-cell *matHeaderCellDef> PhoneNo </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.mobileNumber}} </mat-cell>
                </ng-container>

            <!-- status Column -->
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>

               <!-- role Column -->
               <ng-container matColumnDef="role">
                 <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.role.displayName}} </mat-cell>
                </ng-container>

            <ng-container matColumnDef="update">
              <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button color="primary" (click)="updateUser(element)">
                      <mat-icon class="mat-1">edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </table>
          <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
        </div>
    <!--/.row-->
  </div>
