// Here you can add other styles

.help-block {
    font-size: 12px;
    border: 1px solid red
}


.failed{
  color: red;
  font-size: 10px;
}
.success {
  //color: red;
  background-color: blue;
  font-family: cursive;
}

.align-right{
  display: flex;
  padding: 5px 0;
  justify-content: center;
}
