<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card-group mb-0">
          <div class="card p-4">
            <form [formGroup]="activateForm">
              <div class="card-body">
                <p class="text-muted">{{displayText}}</p>
                <div *ngIf="!validToken" class="input-group mb-3" [ngClass]="{ 'has-error': f.submitted}">
                  <span class="input-group-addon">
                    <i class="icon-user"></i>
                  </span>

                  <input type="text" formControlName="token" class="form-control" placeholder="Enter token"
                         [ngClass]="{ 'is-invalid': submitted && f.token.errors }"/>
                  <div *ngIf="submitted && f.token.errors" class="invalid-feedback">
                    <div *ngIf="f.token.errors.required">Token is required</div>
                  </div>
                </div>
                <div *ngIf="validToken">
                  <div class="input-group mb-4">
                  <span class="input-group-addon">
                    <i class="icon-lock"></i>
                  </span>

                    <input type="password" formControlName="credential" class="form-control" placeholder="Password"
                           [ngClass]="{ 'is-invalid': submitted && f.credential.errors }"/>
                    <div *ngIf="submitted && f.credential.errors" class="invalid-feedback">
                      <div *ngIf="f.credential.errors.required">Password is required</div>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                  <span class="input-group-addon">
                    <i class="icon-lock"></i>
                  </span>
                    <input type="password" formControlName="confirmCredential" class="form-control"
                           placeholder="Retype password"
                           [ngClass]="{ 'is-invalid': submitted && f.confirmCredential.errors }"/>
                    <div *ngIf="submitted && f.confirmCredential.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmCredential.errors.required">Password is required and must match</div>
                    </div>
                  </div>

                  <div class="col-3">
                    <button class="btn btn-primary px-4" (click)="changePassword()">Change Password</button>
                  </div>
                </div>
                <div *ngIf="!validToken" class="col-3">
                  <button class="btn btn-primary px-4" (click)="validateToken()">Validate</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
