<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <form (ngSubmit)="f.valid && forgot()" #f="ngForm" novalidate>
                            <div class="card-body">
                                <div *ngIf="response.type ===0 " class="alert-dismissible alert-danger col-sm-12">{{response.message}}</div>
                                <div *ngIf="response.type ===2 " class="alert-dismissible alert-success col-sm-12">{{response.message}}</div>
                                <p class="text-muted">Forgot Password</p>
                                <div class="input-group mb-3" [ngClass]="{ 'has-error': f.submitted }">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <input type="email" class="form-control" placeholder="Email" ngModel name ="email"
                                        required email [(ngModel)]="model.email" #email="ngModel"/>
                                    <div *ngIf="f.submitted && !email.valid" class="alert-dismissible alert-danger">Email is required</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-primary px-4">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
