<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5" >
        <div class="card-group mb-0" >
          <div class="card p-4">
            <form [formGroup] = "loginForm" (ngSubmit)="login()">
              <div class="card-body">
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3" [ngClass]="{ 'has-error': f.submitted}" >
                  <span class="input-group-addon">
                    <i class="icon-user"></i>
                  </span>

                  <input type="text" formControlName="username" class="form-control" placeholder="Username"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
                </div>

                <div class="input-group mb-4">
                  <span class="input-group-addon">
                    <i class="icon-lock"></i>
                  </span>

                  <input type="password" formControlName="credential" class="form-control"  placeholder="Password"
                  [ngClass]="{ 'is-invalid': submitted && f.credential.errors }" />
                  <div *ngIf="submitted && f.credential.errors" class="invalid-feedback">
                    <div *ngIf="f.credential.errors.required">Password is required</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-primary px-4">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <a [routerLink]="['/forgotPassword']" class="btn btn-link">Forgot password?</a>
                  </div>
                  <div class="col-12 text-right">
                    <a [routerLink]="['/activateAccount']" class="btn btn-link">Activate account</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
