<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <form (ngSubmit)="f.valid && reset()" #f="ngForm" novalidate>
                            <div class="card-body">
                                <div *ngIf="message.length>2 " class="alert-dismissible alert-danger col-sm-12">{{message}}</div>
                                <p class="text-muted">Reset Password</p>
                                <div class="input-group mb-3" [ngClass]="{ 'has-error': f.submitted }">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <input type="email" disabled=true class="form-control" placeholder="Email" ngModel name ="email"
                                        required email [(ngModel)]="model.email" #email="ngModel"/>
                                </div>

                                <div class="input-group mb-3" [ngClass]="{ 'has-error': f.submitted }">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" placeholder="Password" ngModel name="password" required password [(ngModel)]="model.password"
                                        #password="ngModel" />
                                    <div *ngIf="f.submitted && !password.valid" class="alert-dismissible alert-danger">Password is required</div>
                                </div>

                                <div class="input-group mb-3" [ngClass]="{ 'has-error': f.submitted }">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" placeholder="retype Password" ngModel name="password2" required password [(ngModel)]="model.password2"
                                        #password2="ngModel" />
                                    <div *ngIf="f.submitted && !password2.valid" class="alert-dismissible alert-danger">Password is required</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-primary px-4">Reset</button>
                                    </div>
                                </div>
                              <div class="col-8 text-right">
                                <a [routerLink]="['/login']" class="btn btn-link">Home</a>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
