<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Items
        </div>
        <div class="card-body">
          <mat-dialog-content [formGroup]="requisitionForm">

            <!--<label class="col-md-2 form-control-label" for="text-input"></label>-->
            <mat-form-field>
              <mat-select placeholder="Select Customer"
                          formControlName="customer">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let user of userList" [value]="user">
                  {{ user.displayName }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <label class="col-md-2 offset-md-4 form-control-label" for="text-input"></label>
            <mat-form-field>
              <mat-select placeholder="Select product location"
                          (selectionChange)="loadProduct($event.value.id)"
                          formControlName="location">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let location of locationList" [value]="location">
                  {{ location.displayName }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <label class="col-md-2 offset-md-4 form-control-label" for="text-input"></label>
            <mat-form-field>
              <mat-select placeholder="Select product"
                          (selectionChange)="retrieveProductDetails($event.value)"
                          formControlName="product">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let product of productList" [value]="product">
                  {{ product.displayName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p style="margin-left: 5px; color: #00b3ee"> Whole: {{stockWhole}} , Pieces: {{stockPieces}}, Cost: {{stockCost}}</p>
            <mat-form-field>
              <mat-select placeholder="-Transaction Type-"
                          formControlName="type">
                <mat-option>--</mat-option>
                <mat-option value="credit_note">Credit Note</mat-option>
                <mat-option value="credit_invoice">Credit Invoice</mat-option>
                <mat-option value="manufacturer_credit">Manufacturer Credit</mat-option>
                <mat-option value="cash_invoice">Cash Invoice</mat-option>
              </mat-select>
            </mat-form-field>

            <label class="col-md-12 offset-md-4 form-control-label" for="text-input"></label>
            <mat-form-field>
              <input matInput
                     placeholder="No of Cartons"
                     formControlName="carton"
                     pattern="[0-9]*">
              <!--<mat-error *ngIf="{'is-invalid': f.whole.errors}">Whole quantity is required</mat-error>-->

            </mat-form-field>

            <label class="col-md-12 offset-md-4 form-control-label" for="text-input"></label>
            <mat-form-field>
              <input matInput
                     placeholder="No of pieces"
                     formControlName="pieces">
              <!--pattern="[0-9]*">-->
            </mat-form-field>

            <label class="col-md-2 form-control-label" for="text-input"></label>
            <mat-form-field>
              <mat-select placeholder="-Discount/Premium-"
                          (selectionChange)="isModified($event.value)"
                          formControlName="offerType">
                <mat-option>--</mat-option>
                <mat-option value="DISCOUNT">DISCOUNT</mat-option>
                <mat-option value="PREMIUM">PREMIUM</mat-option>
              </mat-select>
            </mat-form-field>

            <div *ngIf="hideElement">
              <mat-form-field>
                <input matInput
                       placeholder="Discount/Premium Amount"
                       formControlName="offerValue">
                <!--pattern="[0-9]*">-->
              </mat-form-field>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary" [disabled]="!requisitionForm.valid" (click)="addToList()">Add</button>
              <button class="btn btn-secondary" type="button">Cancel</button>
            </div>
          </mat-dialog-content>

          <div *ngIf="itemCart.length>0">
            <table class="table">
              <thead>
              <tr>
                <th width="20%">Product name</th>
                <th width="20%">Cartons</th>
                <th width="20%">Pieces</th>
                <th width="20%">TransType</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of itemCart">
                <td><strong>{{ item.productName }}</strong></td>
                <td><strong>{{ item.whole }}</strong></td>
                <td><strong>{{ item.pieces }}</strong></td>
                <td><strong>{{ item.transactionType }}</strong></td>
                <td nowrap>
                  <button type="button" class="btn btn-danger btn-xs"
                          (click)="removeFromList(item.productName)">
                    <span class="icon-ban"></span> Remove
                  </button>
                </td>
              </tr>
              </tbody>
              <button type="button" class="btn btn-success btn-xs"
                      (click)="createTransaction(itemCart)">
                <span class="icon-user"></span> Create Transaction for {{userName}}
              </button>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
